GENIEACS_CWMP_ACCESS_LOG_FILE={{ genieacs_cwmp_access_log_file }}
GENIEACS_NBI_ACCESS_LOG_FILE={{ genieacs_nbi_access_log_file }}
GENIEACS_FS_ACCESS_LOG_FILE={{ genieacs_fs_access_log_file }}
GENIEACS_UI_ACCESS_LOG_FILE={{ genieacs_ui_access_log_file }}
GENIEACS_DEBUG_FILE={{ genieacs_debug_file }}
GENIEACS_EXT_DIR={{ genieacs_ext_dir }}
GENIEACS_UI_JWT_SECRET={{ genieacs_ui_jwt_secret }}

